/*STICKY FOOTER*/
body{                        
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
footer{
	flex: 1;
}
/*END of THE STICKY FOOTER*/
fieldset{
display: flex;
flex-wrap: wrap;
}
form{
display: flex;
flex-wrap: wrap;
}
input[type="checkbox"],
input[type="radio"]{
margin-top: 16px;
}
.labeltwo{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: flex-start;
}
.html_news,
.css_news,
.js_news
{
display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
}
.html,
.text{
display: flex;
flex-wrap: wrap;
}
.labelsone{
display: flex;
flex-wrap: wrap;
}
.name,
.mail,
.tel,
.address,
.city,
.country,
.zipcode{
display: flex;
/*flex-wrap: wrap;*/
flex-direction: column;
justify-content: space-between;
}
textarea{
width: 100%;
}
.editlabel{
/*flex: 3;*/
}
input{
/*align-items: flex-end;*/
}
label{

flex: 2;
}
@media (min-width: 768px){
.name,
.mail,
.tel,
.address,
.city,
.country,
.zipcode{
display: flex;
/*flex-wrap: wrap;*/
flex-direction: row;
/*flex: 2;*/
justify-content: space-between;
}
}