*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.header{
width: 100%;
text-transform: uppercase;
background: linear-gradient(to bottom, black 0% , lightgrey 100%);
color: white;
margin: 0 auto;
display: inline-block;
box-shadow: 0px 15px 20px -12px rgba(0, 0, 0 , .8);
}
.desc{
text-align: center;
 -webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
border: none;
-webkit-border-radius: 60px;
border-radius: 60px;
font-family: 'Merriweather', serif;
font: normal 'Merriweather',Arial, Helvetica, sans-serif;
color: rgba(255,255,255,1);
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
text-shadow: 0 0 20px rgba(255,255,255, 0.5) , 6px 7px 20px rgba(48,48,48,1) ;
-webkit-transition: word-spacing 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 10ms;
-moz-transition: word-spacing 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 10ms;
-o-transition: word-spacing 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 10ms;
transition: word-spacing 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 10ms;
-webkit-transform: rotateX(11.459155902616466deg) rotateY(21.772396214971284deg)   ;
transform: rotateX(11.459155902616466deg) rotateY(21.772396214971284deg)   ;
}
.firstcontent{
width: 90%;
margin-left: 5%;
text-align: center;
border-bottom: double 10px;

}
.signup{
font-family: 'Sofia';
font: normal 'Sofia',Arial, Helvetica, sans-serif;
text-shadow: 0 0 20px rgba(255,255,255, 0.5) , 6px 7px 20px rgba(48,48,48,1) ;
transition: all .5s ease-out
}
a {
text-decoration: none;
color: transparent;
}
.signup:hover{
	font-size: 27px;
}
.firstpara{
opacity: .5;
}

.bodycontent{
	font-family: 'Ubuntu';
font: bolder 'Ubuntu',Arial, Helvetica, sans-serif;
width: 90%;
padding-top: 40px;
margin-left: 5%;
background-color: rgba(246, 249, 214, 1);
}
.name,
.mail,
.tel,
.address,
.city,
.country,
.zipcode{
width: 60%;

}
legend{
font-size: 1.5em;
font-weight: bold;
}
.number {
background-color: firebrick;
color: #fff;
height: 30px;
width: 30px;
display: inline-block;
font-size: 0.8em;
margin-right: 4px;
line-height: 30px;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.8);
border-radius: 100%;

}
fieldset{
border:none;
}

form{
width: 90%;
margin-left: 5%;
padding: 10px 5px;

}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea
{
border:none;
background-color: lightgrey;
border-radius: 10px;
font-size: 1em;
height: 2.5em;
opacity: 0.6;
margin: 10px 0px;
box-shadow: 0px 15px 20px -12px rgba(0, 0, 0 , .8);
}
textarea{
height: 100px;
/*padding-left: 5%;*/
}

input[type="placeholder"]{
font-size: 0.1em;
text-align: right;
}
button[type="submit"]{
width: 100%;
height: 50px;
margin-top: 60px;
background-color: firebrick;
box-shadow: 0px 15px 20px -12px rgba(0, 0, 0 , .8);
color: white;
font-size: 20px;
border-radius: 10px;
}
p{
opacity: 0.5;
font-size: 1.25em;
}
.editlabel{
color: lightgrey; 
font: bold 20px Helvetica, Arial, Sans-Serif;
text-shadow: 1px 1px #000, 
            2px 2px #000, 
            3px 3px #000;
cursor: pointer;
}
label{
	width: 100%;
margin-top: 15px;

}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
   transition: all .3s ease-out
}
input[type="text"]:focus{
	height: 50px;
	border-color: #777;
    color: #000;
    background: #00a3ef;
    outline: 0}
input[type="email"]:focus{
	height: 50px;
	border-color: #777;
    color: #000;
    background: #00a3ef;
    outline: 0}
input[type="tel"]:focus{
	height: 50px;
	border-color: #777;
    color: #000;
    background: #00a3ef;
    outline: 0}
textarea:focus{
	height: 120px;
	border-color: #777;
    color: #000;
    background: #00a3ef;
    outline: 0

}
.editlabel:hover{
position: relative; 
top: -3px; 
left: -3px; 
text-shadow: 1px 1px #000, 
            2px 2px #000, 
            3px 3px #000, 
            4px 4px #000, 
            5px 5px #000, 
            6px 6px #000;
}
.othertopics{
text-align: center;
}
.newsletterpara,
.newsletterformat{
	margin-bottom: 0px;
	margin-top: 20px;
}
.footerclass{
	opacity: 0.5;
	text-align: center;
	margin-top: 30px;
}

/*COMBINATORS*/

legend ~ label {
opacity: .5;
font-size: 1.25em;
}

/*MEDIA QUERY*/
@media (min-width: 768px){
.firstcontent,
.bodycontent{
	width: 60%;
	margin-left: 20%;
	background-color: transparent;
}
.name,
.mail,
.tel,
.address,
.city,
.country,
.zipcode{
width: 100%;

}
.labelsone,
.labeltwo{
	background-color: rgba(246, 249, 214, 1);
	transition: all 1s ease-out
}


.labelsone:hover{
	
	
    background-color: rgba(251, 255, 137, 1);
    outline: 0}
.labeltwo:hover{
	
	
    background-color: rgba(251, 255, 137, 1);
    outline: 0}
label{
	margin-left: auto;
}
textarea{
width: 100%;
}
fieldset{
	width: 100%;
}
.othertopics{
text-align: left;
padding-top: 25px;
margin-bottom: 0px;
}
}